<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bellybutton Biodiversity</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Belly Button Biodiversity Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Test Subject ID No.:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demographic Info</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="bar"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <h4>Accessing the Titanic Passenger API</h4>
  <p>The following endpoints are available to access data:</p>
  <ul>
      <li>
          <a href="/api/v1.0/names">/api/v1.0/names</a>
          <p>Access a list of all passenger names</p>
      </li>
      <li>
          <a href="/api/v1.0/passengers">/api/v1.0/passengers</a>
          <p>Return a list of passenger data including the name, age, and sex of each passenger</p>
      </li>
      <li>
          <a href="/api/v1.0/passengerbyname/<name>">/api/v1.0/passengerbyname/&lt;name&gt;</a>
          <p>Search for passengers by name. For example:</p>
          <a href="/api/v1.0/passengerbyname/Behr,%20Mr%20Karl%20Howell">/api/v1.0/passengerbyname/Behr,%20Mr%20Karl%20Howell</a>
      </li>
  </ul>

  <script src="{{ url_for('static', filename='js/plots.js') }}"></script>

  <!-- <script src="static/app.js"></script> -->
  
  
</body>

</html>